<%= form_for @month do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <!-- <%= f.label :img_url %>
 <%= f.text_field :img_url %> -->

  <%= f.submit %>
<% end %>

<body>
  <img src"https://clarkuhillel.files.wordpress.com/2013/12/calendar.jpg" />
</body>
