
<style>
.month{
  color: #F48024;
  background-image: url("http://19499-presscdn.pagely.netdna-cdn.com/wp-content/uploads/2017/01/2017-taxes.jpg");
  height: 370px;
  width: 1000px;
  padding-top: 50px;

}

</style>



<div class= "month">
<h1><%= @month.name %> </h1>
<h2> Add A New Event <%= link_to "(+)", new_month_event_path(@month) %></h2>


<%= link_to "Edit Schedule", edit_month_path(@month)%>

<%= link_to "Delete Schedule", month_path(@month), method: :delete %>


</div>


<%= link_to "Edit Event", edit_month_event_path(@month)%>

<%= link_to "Delete Event", month_event_path(@month), method: :delete %>
<ul>
  <% @events.each do |event| %>
  <li>
    <%= link_to event.name %>
  </li>
    <% end %>
</ul>


<%= month_calendar do |date| %>
  <%= date %>
  <% end %>
